.accordion {
	&__title {
		padding: 10px 5px 10px 0;
		font-weight: 600;
		font-size: 0.75rem;
	}
	&__top {
		cursor: pointer;
		display: flex;
		align-items: center;

		.icon-arrow-down {
			height: 1.5rem;
			width: 1.5rem;
			transition: all 0.6s;
		}
	}
	&__dropdown {
		transition: all 0.6s cubic-bezier(0.92, 0, 0.11, 0.96);
		max-height: 0;
		height: auto;
		overflow: hidden;
	}
	&.active {
		.accordion__top .icon-arrow-down {
			transform: rotateX(180deg);
		}
		.accordion__dropdown {
			max-height: 300px;
		}
	}
}
