*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	text-size-adjust: none;
	margin: 0;
}

button {
	border: none;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}

input {
	font-family: inherit;
	outline: none;
	border: none;
	&[type="search"] {
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}
}
